<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/13761c87-3c06-4594-9dcf-923f6fbf3bf0/resourcegroups/azureapp-auto-alerts-4a7fb8-jayapen_gmail_com/providers/Microsoft.Web/sites/TegCodingChallenge20231018163230</ResourceId>
    <ResourceGroup>azureapp-auto-alerts-4a7fb8-jayapen_gmail_com</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tegcodingchallenge20231018163230.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>82c14609-e87e-433d-a3a5-6cdb60d9f7b7</ProjectGuid>
    <MSDeployServiceURL>tegcodingchallenge20231018163230.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TegCodingChallenge20231018163230</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TegCodingChallenge20231018163230</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>